header{
    color:white
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #ddd;
  }
  
  .profile-pic {
    width: 120px;
    height: 120px;
    background-color: #ddd;
    border-radius: 50%;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 16px;
  }
  
  .profile-info h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  .profile-info ul {
    display: flex;
    list-style: none;
    margin: 8px 0;
    padding: 0;
  }
  
  .profile-info li {
    margin-right: 16px;
    font-size: 14px;
    font-weight: bold;
    color: #999;
  }
  
  .profile-info li span {
    color: grey;
  }
  
  button {
    background-color: #3897f0;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    margin: 16px;
  }
  
  .post {
    height:450px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .post img {
    width:300px;
    height:300px;
    margin: 10px;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
  